<ngb-accordion *ngFor="let flip of flips" #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel>
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle class="btn container-fluid text-left pl-0">
          {{ flip.starting }} {{ flip.from }} <fa-icon [icon]="faArrowRight"></fa-icon> {{ flip.ending }} {{ flip.to }} <span class="badge badge-success">+{{ flip.winnings }}</span>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="input-group mb-1" *ngFor="let t of flip.transactions">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" ngxClipboard [cbContent]="buildTransactionMessage(t)"><fa-icon [icon]="faCopy"></fa-icon> Copy</button>
        </div>
        <input type="text" class="form-control" [value]="buildTransactionMessage(t)" disabled>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>