<h1>PoE Currency-Flip-Planner Web</h1>

<form [formGroup]="searchParamsForm" (ngSubmit)="findFlips()">
  <div class="form-row align-items-center">
    <div class="form-group col-md-6">
      <label for="searchParamsLeague">League</label>
      <select class="form-control" id="searchParamsLeague" formControlName="league">
        <option *ngFor="let l of availableLeagues" [value]="l">{{ l }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="formControlRange">Transactions</label>
      <input type="number" min="2" max="3" class="form-control-range" id="searchParamsTransactions" formControlName="transactions">
    </div>
  </div>
  <button class="btn btn-primary btn-block mb-3" type="submit" [disabled]="!searchParamsForm.valid || isLoadingFlips">
    <span *ngIf="isLoadingFlips" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Find some Flips for me
  </button>
</form>

<button *ngIf="!isProduction()" type="button" class="btn btn-primary btn-block mb-3" (click)="runDemo()">Find Prices Demo</button>

<ngb-accordion *ngFor="let currency of availableCurrencies" #acc="ngbAccordion">
  <ngb-panel>
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle class="btn container-fluid text-left pl-0"><span>{{ currency }}</span>&nbsp;<span></span><span class="badge badge-secondary">{{ availableResults[currency].length }}</span></button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-flippable-currency [flips]=availableResults[currency]></app-flippable-currency>
    </ng-template>
  </ngb-panel>
</ngb-accordion>